.checkbox {
  cursor: pointer;

  $root: &;

  &:hover #{$root}__label::before {
    border-color: var(--neon-green);
  }

  &__input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    &:focus + #{$root}__label::before {
        border-color: var(--neon-green);
    }

    &:checked + #{$root}__label {
        &::after {
            -webkit-transform: translateY(-50%) rotate(45deg) scale(1);
            -ms-transform: translateY(-50%) rotate(45deg) scale(1);
            transform: translateY(-50%) rotate(45deg) scale(1);
        }

        &::before {
            border-color: var(--neon-green);
            background-color: var(--neon-green);
        }

    }
  }

  &__label {
    display: flex;
    align-items: center;
    gap: 2.4rem;
    font-weight: 700;
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);
    color: var(--light-white);
    text-align: left;
    position: relative;

    &::before {
      content: "";
      display: inline-block;
      width: 2rem;
      height: 2rem;
      background-color: transparent;
      border: 2px solid var(--light-white);
      position: relative;
      transition: all 0.5s;
    }

    &::after {
      content: "";
      inline-size: 6px;
      block-size: 12px;
      position: absolute;
      
      transition: all 0.5s;

      border-color: rgba(24, 23, 31, 1); 
      border-style: solid;
      border-width: 0 3px 3px 0;

      inset-block-start: 50%;
      inset-inline-start: 7px;
      -webkit-transform: translateY(-50%) rotate(45deg) scale(0);
      -ms-transform: translateY(-50%) rotate(45deg) scale(0);
      transform: translateY(-50%) rotate(45deg) scale(0);
    }
  }
}
