.password-strength {
    background-color: var(--very-dark-grey);
    display: flex;
    align-items: center;
    padding: 2rem 3.2rem;

    $root : &;
    text-transform: uppercase;

    &__name {
        font-weight: 700;
        font-size: var(--font-size-body);
        line-height: var(--line-height-body);
        color: var(--grey);
        text-align: center;
    }

    &__classification {
        margin-left: auto;
        font-weight: 700;
        font-size: var(--font-size-heading-medium);
        line-height: var(----line-height-heading-mediu);
        text-align: right;
        color: var(--light-white);
    }

    &__ratings {
        margin-left: 1.6rem;

        display: flex;
        gap: 0.75rem;

        &--too-weak {
            #{$root}__rating--active {
                background-color: var(--red);
                border-color: var(--red);
            }
        }

        &--weak {
            #{$root}__rating--active {
                background-color: var(--orange);
                border-color: var(--orange);
            }
        }

        &--medium {
            #{$root}__rating--active {
                background-color: var(--yellow);
                border-color: var(--yellow);
            }
        }

        &--strong {
            #{$root}__rating--active {
                background-color: var(--neon-green);
                border-color: var(--neon-green);

            }
        }
        
    }

    &__rating {
        --background : transparent;
        --border-color : var(--light-white);

        width: 1rem;
        height: 2.8rem;
        border: 2px solid var(--light-white);
        background-color: var(--background);
        
    }
}