@font-face {
    font-family: "Jet Brains Mono";
    src: url("../../assets/fonts/JetBrainsMono-VariableFont_wght.ttf");
    }

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: "Jet Brains Mono", sans-serif;
}

body {
    background-color: var(--very-dark-grey);
}

img,
source {
    width: 100%;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
}