*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: "JetBrains Mono", sans-serif;
}

body {
    background-color: var(--very-dark-grey);
}

img,
source {
    width: 100%;
}

button {
    cursor: pointer;
}

ul {
    list-style-type: none;
}