.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin-top: 13.3rem;
        margin-bottom: 3.1rem;
        font-weight: 700;
        font-size: var(--font-size-heading-medium);
        line-height: var(--line-height-heading-medium);
        text-align: center;
        color: var(--grey);
    }

    &__content {
        width: 34.3rem;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        

        @media screen and (min-width: 768px) {
            width: 54rem;
            gap: 2.4rem;
        }
    }

    &__filters {
        background-color: var(--dark-grey);
        padding: 1.6rem;
        display: flex;
        flex-direction: column;
        gap: 3.2rem;

        @media screen and (min-width: 768px) {
            padding: 2.4rem 3.2rem 3.2rem 3.2rem;
        }
    }

    &__checkboxes {
        display: flex;
        flex-direction: column;
        margin-top: 0.7rem;

        gap: 1.6rem;

        @media screen and (min-width: 768px) {
            gap: 2rem;
        }

    }
}