:root {

    // COLORS
    --red: #F64A4A;
    --orange: #FB7C58;
    --yellow : #F8CD65;
    --neon-green: #A4FFAF;
    --light-white: #E6E5EA;
    --grey: #817D92;
    --dark-grey: #24232C;
    --very-dark-grey: #18171F;

    --font-size-heading-large: 3.2rem;
    --font-size-heading-medium: 2.4rem;
    --font-size-body: 1.8rem;

    --line-height-heading-large: 4.3rem;
    --line-height-heading-medium: 3.1rem;
    --line-height-body: 2.3rem;
}